body {
	font-family: 'Manrope', sans-serif;
	height: 100%;
	background-color: hsl(218, 23%, 16%);
	text-align: center;

	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 90% 10%;
}

.attribution {
	grid-row: 2;
	grid-column: 2;
}

main {
	background-color: hsl(217, 19%, 24%);
	grid-column: 2;
	margin: 25% 0%;
	border-radius: .5rem;
	padding: 10%;
}

#adviceID {
	color: hsl(150, 100%, 66%);
	margin: 0;
}

#adviceText {
	color: hsl(193, 38%, 86%);
	font-size: 28px;
	margin: 6% 0% 6% 0%;
}

#divider {
	height: 16px;
	background-position: center;
	margin: 10% 0%;
}

#dice {
	background-color: hsl(150, 100%, 66%);
	width: min-content;
	height: 24px;
	padding: 4%;
	border-radius: 100%;
	position: relative;
	left: 46%;
	margin-left: -12px;
	margin-bottom: -19%;
}

#dice:hover {
	cursor: pointer;
}

#dice:active {
	cursor: pointer;
	box-shadow: 0px 0px 50px -5px hsl(150, 100%, 66%);
}

/*Mobile Screen*/
@media (max-width: 600px) {
	#divider {
		background-image: url("./images/pattern-divider-mobile.svg");
	}
}

/*Desktop Screen*/
@media (min-width: 600px) {
	#divider {
		background-image: url("./images/pattern-divider-desktop.svg");
	}
}